.hover-color:hover .hover-color:focus {
  color: #d2ebfc !important;
}

.dark {
  color: #67758d;
}

.canvasjs-chart-credit {
  position: initial !important;
}

.hider {
  width: 100px;
  height: 13px;
  background-color: #283040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hider2 {
  width: 70px;
  height: 20px;
  background-color: #283040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  position: absolute;
}

.background-color {
  background-color: #212938;
}

.font-color {
  color: #97a4ba;
}

.tab-background-color {
  background-color: #283040;
}

.percentage-color {
  color: #fff;
}

.column-border {
  border: solid 1px #283040;
}

.section-name-color {
  color: #c4cfdd;
}

.content-margin {
  margin: 20px 10%;
}

.header-height {
  height: 36px;
}

.border-radius {
  border-radius: 4px;
}

.smaller-font {
  font-size: 16px;
}

.column-name-size {
  font-size: 20px;
}

.column-structure {
  width: 263px;
  -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  height: 358px;
}

.flex-and-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-and-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.object-fit-contain-and-pointer {
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}

.uppercasing {
  text-transform: uppercase;
}
