.hover-color:hover, .hover-color:focus {
    color: #D2EBFC !important;
}

.dark {
    color: #67758d;
}

.canvasjs-chart-credit {
    position: initial !important;
}

.hider {
    width: 100px;
    height: 13px;
    background-color: #283040;
    display: flex;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hider2 {
    width: 70px;
    height: 20px;
    background-color:#283040;
    display: flex;
    float: left;
    position: absolute;
}

.bColor {
    background-color: #212938;
}

.fColor {
    color: #97a4ba;
}

.b2Color {
    background-color: #283040;          
}

.percentageColor {
    color: #ffffff;
}

.collumnBorder {
    border: solid 1px #283040;
}

.sectionNameColor {
    color: #c4cfdd;
}

.contentMargin {
    margin: 20px 10%;
}

.headerHeight {
    height: 36px;
}

.collumnWidth {
    width: 263px;
}

.borderRadius {
    border-radius: 4px;
}

.boxShadow {
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}

.smallerFont {
    font-size: 16px;
}

.collumnHeight {
    height: 358px;
}

.collumnNameFontSize {
    font-size: 20px;
}