* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 2509px;
  font-family: Roboto, sans-serif;
}

/* HEADER */
.header {
  height: 36px;
}

.header > .left > .logo {
  width: 64px;
  height: 36px;
  cursor: pointer;
}

.header > .left > .menu {
  padding-left: 59px;
  width: 20px;
  height: 14px;
}

.header > .right > .right-item {
  margin-right: 32px;
}

.header > .right > .right-item > .-mail {
  width: 18px;
  height: 14px;
}

.header > .right .right-item > .notif {
  width: 21px;
  height: 21px;
}

.header > .right > .right-item > .-four {
  width: 16px;
  height: 16px;
  color: #424b5f;
}

.header > .right > .profile {
  cursor: pointer;
}

.header > .right > .profile > .drop-down > i {
  margin-right: 11.5px;
  cursor: pointer;
}

.header > .right > .profile > .avatar {
  width: 32px;
  height: 32px;
  border: none;
  margin-left: 10px;
}

/* NAVIGATION */

.navigation {
  height: 60px;
  -webkit-box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
  box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
  background-image: -o-linear-gradient(358deg, #0b5289, #094370);
  background-image: linear-gradient(92deg, #0b5289, #094370);
  margin-bottom: 48px;
}

.navigation > .nav-content {
  padding: 20px 0;
}

.navigation > .nav-content > .block {
  height: 40px;
  color: #81accd;
  float: left;
  margin-right: 30px;
  list-style: none;
}

.rectangle {
  width: 20px;
  height: 3px;
  border-radius: 1.5px;
  background-color: linear-gradient(92deg, #0b5289, #094370);
  margin-top: 18px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #d2ebfc;
  margin: 5px;
}

.burger {
  display: none;
}

/* Overview name */

.overview-name {
  border-bottom: solid thin #424b5f;
  padding-bottom: 16px;
}

.overview-name > .left > .sub {
  font-size: 13px;
}

.overview-name > .left > .section {
  font-size: 26px;
}

.overview-name > .right > .tree {
  font-size: 17px;
  margin-top: 25px;
  cursor: pointer;
}

/* Stats1 */

.stats1 {
  height: 174px;
  margin-left: 10%;
}

.stats1 > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats1 > .wrapper > .column {
  height: 102px;
  border: solid 1px #283040;
  margin-right: 28px;
}

.projection > .line1 > .name {
  margin: 24px 0 0 24px;
}

.stats1 > .wrapper > .column > .name {
  margin: 20px 20px 16px 20px;
  font-size: 15px;
}

.stats1 > .wrapper > .column > .icon {
  margin: 10px 10px 0 20px;
  float: right;
}

.stats1 > .wrapper > .column > .line2 > .amount {
  margin: 0 0 20px 20px;
  font-size: 28px;
}

.projection > .line2 {
  float: right;
  color: #67758d;
}

.stats1 > .wrapper > .column .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats1 > .wrapper > .column > .line2 > .percentage {
  margin: 4px 0 20px 17px;
  width: 57px;
  height: 24px;
  border-radius: 11.5px;
  background-image: -o-linear-gradient(337deg, #51c81c, #48af1b);
  background-image: linear-gradient(113deg, #51c81c, #48af1b);
  position: relative;
}

.percentage .percentage-paragraph {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.stats1 > .wrapper > .column > .line2 > .progress-bar {
  margin: 20px 0 20px 15px;
  height: 8px;
  background-image: -o-linear-gradient(356deg, #3794fc, #237bdd);
  background-image: linear-gradient(94deg, #3794fc, #237bdd);
  width: 154px;
}

/* PROJECTION lines */

.projection {
  height: 449px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}

.projection > .line1 > .menu {
  margin: 24px 24px 0 0;
}

.projection > .line2 > .meanings {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-top: 35px;
  font-size: 14px;
}

.projection > .line2 > .meanings > .revenue {
  margin-right: 16px;
}

.dot {
  margin-right: 8px;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* PROJECTION Table */

.projection > .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  position: relative;
  min-height: 150px;
}

.projection > .table > #chartContainer {
  margin: 10px 30px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
}

/* STATS2 */

.stats2 {
  height: 358px;
  margin-left: auto;
  margin-right: auto;
}

.stats2 > .wrapper {
  padding-top: 36px;
}

/* STATS2  .column1 */

.stats2 > .wrapper > .column1 {
  width: 360px;
}

.stats2 > .wrapper > .column1 > .balance > .first-row {
  padding: 24px;
}

.stats2 > .wrapper > .column1 > .balance > .first-row > .left {
  width: 71px;
  height: 25px;
}

.stats2 > .wrapper > .column1 > .balance > .amount {
  width: 190px;
  height: 61px;
  font-size: 48px;
  color: #37c4fc;
  margin: 10px 83px 0 83px;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .left {
  width: 180px;
  height: 91px;
  margin-top: 33px;
  border-right: solid 1px #424b5f;
  text-align: center;
}

.stats2 > .wrapper > .column3 > .stats2-right > .up {
  height: 128px;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .left > .up {
  margin-top: 9px;
}

.stats2 > .wrapper > .column3 > .stats2-right > .down {
  padding-top: 36px;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .left > .down {
  margin-bottom: 8px;
  margin-top: 24px;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .right {
  width: 180px;
  height: 91px;
  margin-top: 33px;
  text-align: center;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .right > .up {
  margin-top: 9px;
}

.stats2 > .wrapper > .column1 > .balance > .second-row > .right > .down {
  margin-bottom: 8px;
  margin-top: 24px;
}

.stats2 > .wrapper > .column1 > .balance > .bottom {
  margin: 27px 121px 23px 121px;
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 118px;
  height: 38px;
  border-radius: 19px;
  background-image: -o-linear-gradient(342deg, #51c81c, #48af1b 100%);
  background-image: linear-gradient(108deg, #51c81c, #48af1b 100%);
}

/* STATS2  .column2 */

.stats2 > .wrapper > .column2 {
  width: 457px;
}

.stats2 > .wrapper > .column3 > .stats2-right > .down > .blog {
  height: 192px;
  -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}
