* {
    box-sizing: border-box;
  }

body {
    height: 2509px;
    font-family: Roboto, sans-serif;
  }
  
    
/* HEADER */
.header {
    height: 36px;
    margin: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header > .left {
        display: flex;
        align-items: center;
    }

        .header > .left > .logo {
            width: 64px;
            height: 36px;
            cursor: pointer;

        }
 
        .header > .left > .menu {
            padding-left: 59px;
            width: 20px;
            height: 14px;
            align-content: center;    
        }

    .header > .right {
        display: flex;
        align-items: center;
        float: right;
    }

        .header > .right > .right-item {
            margin-right: 32px;
        }
        
            .header > .right > .right-item > .-mail {
                width: 18px;
                height: 14px;
                object-fit: contain;
                cursor: pointer;

            }

            .header > .right .right-item > .notif {
                width: 21px;
                height: 21px;
                object-fit: contain;
                cursor: pointer;
                }
            
            .header > .right > .right-item > .-four {
                width: 16px;
                height: 16px;
                object-fit: contain;
                color: #424B5F;
                cursor: pointer;
                }

        .header > .right > .profile {
            display: flex;
            align-items: center;
            float: right;
            cursor: pointer;
        }    

            .header > .right > .profile > .drop-down {
                position: relative;
                bottom: 0;
                cursor: pointer;
                
            }
                .header > .right > .profile > .drop-down > i {
                    margin-right: 11.5px;
                    cursor: pointer;

                }

            .header > .right > .profile > .avatar {
                width: 32px;
                height: 32px;
                object-fit: contain;
                border: none;
                margin-left: 10px;
                
            } 
            
/* NAVIGATION */

.navigation {
    height: 60px;
    box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(92deg, #0b5289, #094370);
}

    .navigation > .nav-content {
        padding: 20px 0;
        margin: 20px 10%;

    }

    .navigation > .nav-content > .block {
        height: 40px;
        color: #242627;
        float: left;
        margin-right: 30px;
        list-style: none;
    }

    .rectangle {
        width: 20px;
        height: 3px;
        border-radius: 1.5px;
        background-color: linear-gradient(92deg, #0b5289, #094370);
        margin-top: 18px;
        align-items: center;
      }

      .burger div {
        width: 25px;
        height: 3px;
        background-color: #D2EBFC;
        margin: 5px;
    }

    .burger {
        display: none;
    }


 
/* Overview name */

.overview-name {
    margin: 20px 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid thin #424B5F;
    padding-bottom: 16px;
}

    .overview-name > .left > .sub {
        font-size: 13px;
    }

    .overview-name > .left > .section {
        font-size: 26px;
    }

.overview-name > .right > .tree {
    font-size: 17px;
    margin-top: 25px;      
    cursor: pointer;

}


/* Stats1 */
 
.stats1 {
    height: 174px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    
}

    .stats1 > .wrapper {
        display: flex;

    }

        .stats1 > .wrapper > .collumn {
            width: 263px;
            height: 102px;
            border-radius: 4px;
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
            border: solid 1px #283040;
            margin-right: 28px;
        }

            .stats1 > .wrapper > .collumn > .name {
                margin: 20px 20px 16px 20px;
                font-size: 15px;
            }

            .stats1 > .wrapper > .collumn > .icon {
                margin: 10px 10px 0px 20px;
                float: right;
                
            }

            .stats1 > .wrapper > .collumn > .line2 > .amount {
                margin: 0px 0px 20px 20px;
                font-size: 28px;
            }

            .stats1 > .wrapper > .collumn .line2 {
                display: flex;
            }
        

                .stats1 > .wrapper > .collumn > .line2 > .percentage {
                    margin: 4px 0px 20px 17px;
                    width: 57px;
                    height: 24px;
                    border-radius: 11.5px;
                    background-image: linear-gradient(113deg, #51c81c, #48af1b);
                    text-align: center;
                    font-size: 16px;
                    position: relative
                }

                    .percentage p {
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%)
                    }

                .stats1 > .wrapper > .collumn > .line2 >.progress-bar {
                    margin: 20px 0px 20px 15px;
                    float: right;
                    height: 8px;
                    border-radius: 4px;
                    background-image: linear-gradient(94deg, #3794fc, #237bdd);
                    width: 154px; 
                }

 
/* PROJECTION lines */

.projection {
    margin: 20px 10%;
    height: 449px;
    border-radius: 4px;
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

    .projection > .line1 {
        display: flex;
        justify-content: space-between
    }

        .projection > .line1 > .name {
            margin: 24px 0px 0px 24px;
            font-size: 20px;
        }

        .projection > .line1 > .menu {
            margin: 24px 24px 0px 0px;
        }

        .projection > .line2 {
            display: flex;
            justify-content: space-between;
            float: right;
            color: #67758d;
        }

            .projection > .line2 > .meanings {
                float: right;
                display: flex;
                margin-right: 32px;
                margin-top: 35px;
                font-size: 14px;
            }

            .projection > .line2 > .meanings > .revenue {
                margin-right: 16px;
            }

            .dot {
                margin-right: 8px;
                height: 10px;
                width: 10px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
            } 
 
/* PROJECTION Table */
 
.projection > .table {
    display: flex;
    width: 1140px;
    position: relative;
    min-height: 150px;

}

.projection > .table > #chartContainer {
    margin: 10px 30px 0 24px;
    display: flex;
    width: 1140px;

}
 
/* STATS2 */

.stats2 {
    height: 358px;;    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

    .stats2 > .wrapper {
        margin: 20px 10%;
        display: flex;
        padding-top: 36px;
        justify-content: space-between;
    } 

    /* STATS2  .collumn1 */
 
        .stats2 > .wrapper > .collumn1 {
            width: 360px;
            height: 358px;
            border-radius: 4px;
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
        }

            .stats2 > .wrapper > .collumn1 > .balance > .first-row {
                display: flex;
                justify-content: space-between;
                padding: 24px;
            }

                .stats2 > .wrapper > .collumn1 > .balance > .first-row > .left {
                    width: 71px;
                    height: 25px;
                    font-size: 20px;
                }

                .stats2 > .wrapper > .collumn1 > .balance > .amount {
                    width: 190px;
                    height: 61px;
                    font-size: 48px;
                    color: #37c4fc;
                    margin: 10px 83px 0px 83px;
                } 

                .stats2 > .wrapper > .collumn1 > .balance > .second-row {
                    display: flex;
                    justify-content: space-between;                    
                }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .left {
                        width: 180px;
                        height: 91px;
                        margin-top: 33px;
                        border-right: solid 1px #424b5f;
                        text-align: center;
                    }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .left > .up {
                        margin-top: 9px;
                        font-size: 16px;
                    }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .left > .down {
                        font-size: 20px;
                        margin-bottom: 8px;
                        margin-top: 24px;
                        
                    }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .right {
                        width: 180px;
                        height: 91px;
                        margin-top: 33px;
                        text-align: center;
                        font-size: 20px;
                    }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .right > .up {
                        font-size: 16px;
                        margin-top: 9px;
                    }

                    .stats2 > .wrapper > .collumn1 > .balance > .second-row > .right > .down {
                        font-size: 20px;
                        margin-bottom: 8px;
                        margin-top: 24px;

                    }

            .stats2 > .wrapper > .collumn1 > .balance > .bottom {
                margin: 27px 121px 23px 121px;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 118px;
                height: 38px;
                border-radius: 19px;
                background-image: linear-gradient(108deg, #51c81c, #48af1b 100%);

            }
 
        /* STATS2  .collumn2 */

         .stats2 > .wrapper > .collumn2 {
            width: 457px;
            height: 358px;
            border-radius: 4px;
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
        }

        .stats2 > .wrapper > .collumn3 {
            width: 263px;
            height: 358px;
        }

        .stats2 > .wrapper > .collumn3 > .stats2-right > .up {
            height: 128px;
            width: 263px;
            border-radius: 4px;
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
        }

        .stats2 > .wrapper > .collumn3 > .stats2-right > .down {
            padding-top: 36px;
        }

        .stats2 > .wrapper > .collumn3 > .stats2-right > .down > .blog {
            height: 192px;
            border-radius: 4px;
            box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
        }
 
