//
// Variables
// --------------------------------------------------

//Fonts
$font-main: roboto, sans-serif;

//Colors
$color-hover:                   #d2ebfc;
$color-dark:                    #67758d;
$color-light:                   #c4cfdd;
$color-tab-background:          #283040;
$color-main-font:               #97a4ba;
$color-blue-tab-background:     linear-gradient(126deg, #1d74a3, #3491f8 100%);
$color-white:                   #fff;
$color-blue-text:               #3491f8;
$color-completed:               #56c1ff;
$color-pending:                 #e260fa;
$color-canceled:                #ef3e26;
$color-balance-border:          solid 1px #424b5f;
$color-operation-time-diamond:  #3371ab;
$color-read-download:           #0ff;
$color-write:                   #a6ff00;
$color-upload:                  #fab7aa;
$color-projects-table-header:   rgba(246, 249, 252, 0.03);
$color-latest-projects-list:    1px solid #212938;
$color-dot-cost:                #9d60fb;
$color-dot-revenue:             #3794fc;
$color-progress:                #dee5ef;
$color-announcement-text:       #97d4f0;
$color-announcement-read-more:  #51fbec;

//Font-sizes
$font-xxs:  12px;
$font-xs:   14px;
$font-s:    16px;
$font-m:    20px;
$font-l:    24px;
$font-xl:   28px;
$font-xxl:  48px;

//Margins
$margin-xxs:        4px;
$margin-xs:         8px;
$margin-s:          12px;
$margin-m:          16px;
$margin-l:          20px;
$margin-xl:         24px;
$margin-xxl:        30px;
$margin-relative:   10%;

/*
$margin-content:                0 10%;
$margin-content-xs:             20px 0;
$margin-tab:                    12px 0;
$margin-tab-xs:                 5px 0;
$margin-warning:                16px;
$margin-balance-amount:         10px auto 20px auto;
$margin-balance-up:             9px;
$margin-balance-down:           24px 0 8px;
$margin-balance-increase:       27px auto 0;
$margin-footer-section:         20px 30px 0 0;
$margin-footer-section-xs:      20px auto;
$margin-footer-section-xs:      20px auto;
$margin-header:                 10px 10%;
$margin-header-right-item:      0 32px 0 0;
$margin-profile-avatar:         0 0 0 10px;
$margin-navigation:             0 -16px 48;
$margin-navigation-xs:          0 -16px 0;
$margin-content-block:          0 30px 0 0;
$margin-nav-burger-xs:          -7px 18px 0 0;
$margin-overview-name:          0 0 18px 0;
$margin-overview-tree:          25px 0 0 0;
$margin-overview-tree-mobile:   16px 0 0 0;
$margin-projection-dot-menu:    24px 24px 0 0;
$margin-projection-meanings:    -8px 24px 0 0;
$margin-projection-first:       0 16px 0 0;
$margin-projection-rev-dot:     0 8px 0 0;
$margin-chart-container:        10px 30px 0 24px;
$margin-quick-stats-tab-icon:   10px 10px 0 20px;
$margin-quick-stats-tab-amount: 0 0 20px 20px;
$margin-quick-stats-tab-percent:4px 0 20px 17px;
$margin-percentage-paragraph:   0 -50% 0 0;
$margin-quick-stats-tab-:       9px 0;
*/

//Paddings
$padding-xxs:    4px;
$padding-xs:     8px;
$padding-s:      12px;
$padding-m:      16px;
$padding-l:      20px;
$padding-xl:     24px;
$padding-xxl:    59px;

/*
$padding-dashboard-name:                    24px;
$padding-tab:                               0 0 24px 0;
$padding-chart-position:                    18px 20px;
$padding-text:                              12px 0 0 16px;
$padding-commits-content:                   12px 24px;
$padding-commits-view-all:                  24px 24px 0;
$padding-commits-time-added:                0 59px 0 0;
$padding-commits-time-operations:           7px 24px;
$padding-right:                             0 16px 0 0;
$padding-data-centers-place:                0 24px 8px;
$padding-data-centers-locations-wrapper:    20px 0 0 0;
$padding-header-menu:                       0 59px 0 0;
$padding-latest-projects-name:              0 0 0 16px;
$padding-latest-projects-list:              10px 25px 10px 10px;
$padding-latest-projects-list-icon:         0 10px 0 0;
$padding-latest-projects-list-project:      0 25px 0 0;
$padding-latest-projects-list-content:      0 24px;
$padding-latest-projects-footer:            15px 24px 0;
$padding-nav-content:                       20px 0;
$padding-nav-content-menu:                  21px 0 0 0;
$padding-overview-name:                     0 0 16px 0;
$padding-overview-content-name:             15px 0 0 0;
$padding-overview-section:                  4px 0 0 0;
$padding-quick-stats-tab-name:              20px 20px 16px 20px;
$padding-announcement-image:                0 12px; */

//Widths
$width-xxs:    10px;
$width-xs:     20px;
$width-s:      57px;
$width-m:      64px;
$width-l:      118px;
$width-xl:     180px;
$width-xxl:    200px;

$width-relative-smallest:   23%;
$width-relative-xxs:        30%;
$width-relative-xs:         39%;
$width-relative-s:          45%;
$width-relative-m:          52%;
$width-relative-l:          58%;
$width-relative-xl:         65%;
$width-relative-xxl:        90%;
$width-relative-biggest:    95%;

/*
$width-full:                        100%;
$width-23:                          23%;
$width-30:                          30%;
$width-32:                          32%;
$width-39:                          39%;
$width-45:                          45%;
$width-48:                          48%;
$width-50:                          50%;
$width-52:                          52%;
$width-58:                          58%;
$width-65:                          65%;
$width-90:                          90%;
$width-95:                          95%;
$width-balance-md:                  39%;
$width-balance-amount:              200px;
$width-balance-before-now:          180px;
$width-balance-increase:            118px;
$width-header-logo:                 64px;
$width-header-menu:                 20px;
$width-projection-rev-dot:          10px;
$width-quick-stats-tab-percent:     57px; */

//Heights
$height-smallest:  10px;
$height-xxs:       14px;
$height-xs:        36px;
$height-s:         42px;
$height-m:         50px;
$height-l:         56px;
$height-xl:        260px;
$height-xxl:       420px;
$height-biggest:   95%;

$height-relative-s: 34%;
$height-relative-m: 40%;
$height-relative-l: 70%;

/*

$height-balance-before-now:     81px;
$height-balance-increase:       38px;
$height-footer:                 60px;
$height-header:                 56px;
$height-header-logo:            36px;
$height-header-menu:            14px;
$height-profile-avatar:         10px;
$height-projects:               50px;
$height-navigation:             60px;
$height-navigation-xs:          42px;
$height-navigation-active:      260px;
$height-nav-content-block:      40px;
$height-projection:             420px;
$height-34:                     34%;
$height-40:                     40%;
$height-70:                     70%;
$height-quick-stats-tab-percent:24px;
$height-visitors-xs:            358px;
$height-chart-container-2:      220px; */

//Borders-radius
$border-radius-s:         4px;
$border-radius-m:         12px;
$border-radius-l:         19px;
$border-radius-xl:        30px;

$border-radius-relative:  50%;

/*

$border-radius:                     19px;
$border-radius-projection:          4px;
$border-projection-rev-dot:         50%;
$border-quick-stats-tab-percent:    12px;
$border-progress:                   30px; */

//== Media queries breakpoints
// Extra small screen / phone
$screen-xs: 640px;
// Small screen / tablet
$screen-sm: 900px;
// Medium screen / desktop
$screen-md: 1200px;
