.balance {
  min-width: 360px;
}

.balance-amount {
  width: 200px;
  font-size: 48px;
  color: #37c4fc;
  margin: 10px auto 20px auto;
  position: relative;
}

.balance-before-now {
  width: 180px;
  height: 81px;
  text-align: center;
}

.balance-border {
  border-right: solid 1px #424b5f;
}

.balance-up {
  margin-top: 9px;
}

.balance-down {
  margin-bottom: 8px;
  margin-top: 24px;
}

.balance-increase {
  margin: 27px auto;
  font-size: 20px;
  position: relative;
  width: 118px;
  height: 38px;
  border-radius: 19px;
  background-image: -o-linear-gradient(342deg, #51c81c, #48af1b 100%);
  background-image: linear-gradient(108deg, #51c81c, #48af1b 100%);
}
