.commits-operation-time-flex-column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

@media (max-width: 640px) {
  .commits-operation-time-flex-column {
    width: unset;
  }
}

.commits-content {
  padding: 12px 24px;
  height: 38px;
}

.commits-content:hover .fa-angle-right {
  -webkit-animation: bounce-right 1s;
  animation: bounce-right 1s;
  float: right;
}

.commits-content:nth-child(odd) {
  background-color: rgba(246, 249, 252, 0.03);
}

.commits-view-all {
  padding: 24px 24px 0;
  font-size: 12px;
}

.operation-time-operations {
  padding: 7px 24px;
}

.operation-time-diamond {
  margin: auto;
  font-size: 24px;
  color: #3371ab;
}

@media (max-width: 640px) {
  .operation-time-diamond {
    display: none;
  }
}

@media (max-width: 640px) {
  .operation-time-content {
    display: flex;
    flex-direction: column;
  }
}

.operation-value {
  font-size: 24px;
}

.operation-name {
  font-weight: bold;
  padding-right: 16px;
}

.operational-read-download-color {
  color: #0ff;
}

.operational-write-color {
  color: #a6ff00;
}

.operational-upload-color {
  color: #fab7aa;
}

/* right bounce */
@-webkit-keyframes bounce-right {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-moz-keyframes bounce-right {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(-5px);
  }
}

@keyframes bounce-right {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  60% {
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

/* /right bounce */
