.commits-content {
  padding: 12px 24px;
  height: 38px;
}

.commits-content:nth-child(odd) {
  background-color: rgba(246, 249, 252, 0.03);
}

.latest-commits {
  min-width: 360px;
}

@media (max-width: 640px) {
  .latest-commits {
    min-width: 300px;
  }
}

.commits-view-all {
  padding: 24px 24px 0;
  font-size: 12px;
  color: #3491f8;
}