.data-centers {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot-operational {
  background-color: #36c3fb;
}

.dot-pending-setup {
  background-color: #fcb41d;
}

.dot-upgrade {
  background-color: #ee58fb;
}

.data-centers-place {
  padding: 0 24px 8px;
}

.data-centers-locations-wrapper {
  flex-wrap: wrap;
  padding-top: 20px;
}

@media (max-width: 640px) {
  .data-centers-locations {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .data-centers {
    width: unset;
  }
}
