.header-logo {
  width: 64px;
  height: 36px;
  cursor: pointer;
}

.header-menu {
  padding-left: 59px;
  width: 20px;
  height: 14px;
}

.header-right-item {
  margin-right: 32px;
}

.header-profile {
  cursor: pointer;
}

.profile-drop-down {
  margin-right: 12px;
}

.profile-avatar {
  height: 32px;
  margin-left: 10px;
}
