* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.hover-color:hover {
  color: #d2ebfc;
}

.dark {
  color: #67758d;
}

.canvasjs-chart-credit {
  position: initial !important;
}

.hider {
  width: 100px;
  height: 13px;
  background-color: #283040;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hider2 {
  width: 70px;
  height: 20px;
  background-color: #283040;
  position: absolute;
}

.background-color {
  background-color: #212938;
}

.font-color {
  color: #97a4ba;
}

.tab-background-color {
  background-color: #283040;
}

.percentage-color {
  color: #fff;
}

.border-radius {
  border-radius: 4px;
}

.smaller-font {
  font-size: 16px;
}

.tab-name-size {
  font-size: 20px;
}

.flex-and-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-and-space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}

.flex-and-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.object-fit-contain-and-pointer {
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}

.uppercasing {
  text-transform: uppercase;
}

.dashboard-name {
  font-size: 20px;
  color: #c4cfdd;
  padding: 24px;
}

.content-margin {
  margin: 20px 10%;
}

@media (max-width: 640px) {
  .content-margin {
    margin: 20px 0;
  }
}

@media (max-width: 640px) {
  .tab-structure {
    width: 100%;
    margin: 5px 0;
  }
}

.wrapper {
  flex-wrap: wrap;
}

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }

  .mobile-hide {
    display: none;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.warning {
  margin-left: 16px;
}