@media (min-width: 1px) {
  .wrapper {
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }

  .tab-structure {
    width: 100%;
    -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  }

  .content-margin {
    margin: 20px 0;
  }

  .media-hide {
    display: none;
  }

}

@media (min-width: 768px) {
  

}

@media (min-width: 1080px) {
 
}

@media (min-width: 1450px) {
  .tab-structure {
    width: 23%;
    -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  }

  .content-margin {
    margin: 20px 10%;
  }
}

/* 
@media (min-width: 640px) {
  .wrapper {
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  

}

@media (min-width: 1080px) {
 
}

@media (min-width: 1450px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .quick-stats-flex-and-space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
} */