@media all and (max-width: 1400px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-right: 0%;
  }

  .quick-stats-tab-icon {
    display: none;
  }

  .quick-stats-tab-percentage {
    display: none;
  }

  .quick-stats-tab-progress-bar {
    display: none;
  }

  .quick-stats-tab {
    width: 190px;
  }
}

@media all and (max-width: 1100px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .quick-stats-tab-icon {
    display: unset;
  }

  .quick-stats-tab-percentage {
    display: unset;
  }

  .quick-stats-tab-progress-bar {
    display: unset;
  }

  .quick-stats-tab {
    width: 290px;
  }
}

@media all and (max-width: 768px) {
  .navigation-active {
    height: 240px;
  }

  .block {
    opacity: 0;
  }

  .nav-active-block {
    opacity: 1;
  }

  .nav-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    float: none;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .nav-burger {
    display: block;
    cursor: pointer;
  }

  .wrapper {
    display: none;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
