.navigation {
  height: 60px;
  -webkit-box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
  box-shadow: 0 3px 10px -8px rgba(0, 0, 0, 0.24);
  background-image: -o-linear-gradient(358deg, #0b5289, #094370);
  background-image: linear-gradient(92deg, #0b5289, #094370);
  margin: 0 -16px 48px;
  padding-left: 11%;
}

@media (max-width: 640px) {
  .navigation {
    height: 42px;
  }
}

@media (max-width: 640px) {
  .navigation-active {
    height: 220px;
  }
}

.nav-content {
  padding: 20px 0;
  margin-block-start: 0;
}

.rectangle {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: linear-gradient(92deg, #0b5289, #094370);
  margin-top: 18px;
}

.nav-burger .line {
  width: 25px;
  height: 3px;
  background-color: #d2ebfc;
  margin: 5px;
}

.nav-content-block {
  height: 40px;
  color: #81accd;
  float: left;
  margin-right: 30px;
  list-style: none;
}

@media (max-width: 640px) {
  .nav-content-block {
    float: none;
  }
}

.nav-burger {
  display: none;
}

@media (max-width: 640px) {
  .nav-burger {
    float: right;
    display: unset;
    margin-right: 18px;
    margin-top: -7px;
  }
}