.overview-name {
  border-bottom: solid thin #424b5f;
  padding-bottom: 16px;
}

.overview-content-name {
  font-size: 13px;
  padding-top: 15px;;
}

.overview-section {
  font-size: 26px;
  padding-top: 4px;
}

.overview-tree {
  font-size: 17px;
  margin-top: 25px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .overview-tree {
    display: none;
  }
}

.overview-tree-mobile {
  font-size: 12px;
  margin-top: 16px;
  display: none;
}

@media (max-width: 640px) {
  .overview-tree-mobile {
    display: unset;
  }
}

.overview-tree-color {
  color: #d2ebfc;
}
