/* quick-stats */

.quick-stats-tab-name {
  padding: 20px 20px 16px 20px;
  font-size: 15px;
}

.quick-stats-tab-icon {
  margin: 10px 10px 0 20px;
}

.quick-stats-tab-amount {
  margin: 0 0 20px 20px;
  font-size: 28px;
}

.quick-stats-tab-line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quick-stats-tab-percentage {
  margin: 4px 0 20px 17px;
  width: 57px;
  height: 24px;
  border-radius: 12px;
  position: relative;
}

.percentage-red {
  background-image: -o-linear-gradient(113deg, #51c81c, #48af1b);
  background-image: linear-gradient(113deg, #51c81c, #48af1b);
}

.percentage-green {
  background-image: -o-linear-gradient(113deg, #fc381d, #db2f18);
  background-image: linear-gradient(113deg, #fc381d, #db2f18);
}

.percentage-paragraph {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quick-stats-tab-progress-bar {
  margin: 20px 0 20px 15px;
  height: 8px;
  background-image: -o-linear-gradient(356deg, #3794fc, #237bdd);
  background-image: linear-gradient(94deg, #3794fc, #237bdd);
  width: 60%;
}

.quick-stats-tab-structure {
  width: 23%;
  -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 640px) {
  .quick-stats-tab-structure {
    width: 100%;
    margin-top: 4px;
  }
}
