@import url(https://fonts.googleapis.com/css?family=Roboto);

.score-announcement-flex-column {
  display: flex;
  flex-direction: column;
  width: 22%;
}

@media (max-width: 1200px) {
  .score-announcement-flex-column {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .score-announcement-flex-column {
    width: auto;
    height: auto;
    flex-direction: column;
  }
}

.score {
  height: 34%;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .score {
    width: 38%;
    flex-grow: 0;
    height: unset;
  }
}

@media (max-width: 640px) {
  .score {
    width: 100%;
  }
}

.score-left {
  width: 30%;
}

.score-points {
  padding-left: 24px;
  font-size: 0.7em;
}

.score-change {
  color: #51c81c;
}

.score-arrow {
  margin-right: 10%;
}

.score-period {
  width: 62px;
}

@media (max-width: 1200px) {
  .announcement {
    width: 59%;
  }
}

@media (max-width: 640px) {
  .announcement {
    width: auto;
    height: 40%;
  }
}

.announcement-name {
  font-size: 14px;
  font-weight: bold;
}

.announcement-header {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.announcement-text {
  font-size: 14px;
  color: #97d4f0;
  font-weight: bold;
}

.announcement-read-more {
  font-size: 12px;
  font-weight: 500;
  color: #51fbec;
  cursor: pointer;
}

.announcement-image {
  padding: 0 12px;
}
