@import url(https://fonts.googleapis.com/css?family=Roboto);

.score {
  width: 300px;
  height: 120px;
}

@media (max-width: 640px) {
  .score {
    width: auto;
  }
}

#chart {
  width: 200px;
  margin: 35px auto;
}

.score-left {
  width: 35%;
}

.speed-bar {
  width: 65%;
}

.score-points {
  padding: 0 24px;
  font-size: 0.7em;
}

.score-change {
  color: #51c81c;
}

.score-arrow {
  margin-right: 10%;
}

.announcement {
  background-image: linear-gradient(126deg, #1d74a3, #3491f8 100%);
  height: 220px;
  width: 300px;
}

@media (max-width: 640px) {
  .announcement {
    width: auto;
  }
}

.announcement-name {
  font-size: 14px;
  color: #c4cfdd;
  font-weight: bold;
}

.announcement-padding {
  padding: 24px 0 0 24px;
}

.announcement-header {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.announcement-text {
  font-size: 14px;
  color: #97d4f0;
  font-weight: bold;
}

.announcement-read-more {
  font-size: 12px;
  font-weight: 500;
  color: #51fbec;
}

.announcment-image {
  padding: 24px;
}
