@import url(https://fonts.googleapis.com/css?family=Roboto);

.score-announcement-flex-column {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 380px;
}

@media (max-width: 640px) {
  .score-announcement-flex-column {
    width: auto;
    height: auto;
  }
}

.score {
  height: 34%;
}

@media (max-width: 640px) {
  .score {
    width: auto;
  }
}

.score-left {
  width: 30%;
}

.score-points {
  padding: 0 24px;
  font-size: 0.7em;
}

.score-change {
  color: #51c81c;
}

.score-arrow {
  margin-right: 10%;
}

.announcement {
  height: auto;
}

@media (max-width: 640px) {
  .announcement {
    width: auto;
    height: 40%;
  }
}

.announcement-name {
  font-size: 14px;
  font-weight: bold;
}

.announcement-header {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.announcement-text {
  font-size: 14px;
  color: #97d4f0;
  font-weight: bold;
}

.announcement-read-more {
  font-size: 12px;
  font-weight: 500;
  color: #51fbec;
  cursor: pointer;
}

.announcement-image {
  padding: 0 12px;
}
