* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 2509px;
  font-family: Roboto, sans-serif;
}

/* HEADER */

/* NAVIGATION */

/* Overview name */

/* PROJECTION lines */

/* STATS2 */

/* STATS2  .tab */

/* STATS2  .tab2 */

.wrapper > .tab2 {
  width: 457px;
}

.wrapper > .tab3 > .stats2-right > .down > .blog {
  height: 192px;
  -webkit-box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}

.wrapper > .tab3 > .stats2-right > .up {
  height: 128px;
}

.wrapper > .tab3 > .stats2-right > .down {
  padding-top: 36px;
}
